html,body{
margin:0;
}

/* introConfigPage css */
.App {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height:100vh;
  min-width: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Blue-rectangle{
  background-color: yellow;
  height: 2vh;
  width: 100%;
}
.configInputBoxes{
  width: 448px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(119, 119, 119);
  border-width: 2px;
  align-self: center;
  cursor: pointer;
}.configInputBoxes:hover{
  background-color: #7b7b7b;
  color: rgb(0, 0, 0);
}.configInputBoxes:hover::placeholder{
  color: rgb(0, 0, 0);
}
.configInputBoxes input[type=file]{
  display: none;
}
#createProjectButton{
  background-image: url("./images/main-menu/new-file.svg");
  background-color: #ffffff;
}
#createProjectButton:hover{
  background-color: yellow;
}


#importProjectButton{
  background-image: url("./images/main-menu/openBox.svg");
  background-color: #ffffff;
}
#importProjectButton:hover{
  background-color: yellow;
}

#openProjectButton{
  background-image: url("./images/main-menu/openBox.svg");
  background-color: white;
}
#openProjectButton:hover{
  background-color: yellow;
}

#syncProjectButton{
  background-image: url("./images/main-menu/sync.svg");
  background-color: #ffffff;
}
#syncProjectButton:hover{
  background-color: yellow;
}

#archiveProjectButton{
  background-image: url("./images/main-menu/archive.svg");
  background-color: #ffffff;
}
#archiveProjectButton:hover{
  background-color: yellow;
}
#gotoCANBusButton{
  background-image: url("./images/main-menu/car-front-fill.svg");
  background-color: rgb(37, 112, 187);
}
#gotoCANBusButton:hover{
  background-color: yellow;
}

.Gray-seperator{
  height: 5px;
  width: 40%;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
  opacity: 30%;
}

.App-header {
  margin-top: 50px;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 96px;
  color: white;
}

.modal-background{
  background-color: #ffffff;
}
.modal-container{
  align-items: center;
  display: flex;
  flex-direction:column;
}
.modal-background{
  width: 50%;
}

.modal-body{
  width: 50%;
}

#closeCreateWindow{
  font-size: medium;
  color: aqua;
}

/* END of introConfigPage css */
.map {
  background-image: url('./images/canbusmap.png');
}