html,body{
margin:0;
}
.App {
  background-image: url(images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  min-height:100vh;
  min-width: 100vh;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Blue-rectangle{
  background-color: yellow;
  height: 2vh;
  width: 100%;
}
.configInputBoxes{
  width: 448px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  /* background-image: url('./images/fileLogo.svg'); */
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(119, 119, 119);
  border-width: 2px;
  align-self: center;
  cursor: pointer;
}.configInputBoxes:hover{
  background-color: #7b7b7b;
  color: rgb(0, 0, 0);
}.configInputBoxes:hover::placeholder{
  color: rgb(0, 0, 0);
}
.configInputBoxes input[type=file]{
  display: none;
}
#createProjectButton{
  background-color: #ffffff;
}
#importProjectButton{
  background-color: #ffffff;
}
#openProjectButton{
  background-image: url("./images/Open\ Parcel.svg");
  background-color: white;
}
#syncProjectButton{
  background-color: #ffffff;
}
#archiveProjectButton{
  background-color: #ffffff;
}
#archiveProjectButton:hover{
  background-color: yellow;
}
#gotoCANBusButton{
  background-color: #ffffff;
}
#gotoCANBusButton:hover{
  background-color: yellow;
}
/* Review below */

#userInitialTextBox{
  background-image: none;
  width: 442px;
  height: 45px;
  cursor: text;
}
#eventNameTxtBox{
  background-image: none;
  width: 442px;
  height: 45px;
  cursor: text;
}
#setBaudTxtBox{
  background-image: none;
  width: 442px;
  height: 45px;
  cursor: text;
}

.doneButton{
  width: 170px;
  height: 50px;
  margin-top: 1%;
  align-self: center;
  background-color: yellow;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  border-style: none;
  border-radius: 10px;
  cursor: pointer;
}.doneButton:hover{
  background-color: yellow;
}

.Gray-seperator{
  height: 5px;
  width: 40%;
  background-color: #ffffff;
  margin-top: 2%;
  margin-bottom: 2%;
  opacity: 30%;
}


.App-header {
  margin-top: 3%;
  height: fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 96px;
  color: white;
}

.App-link {
  color: yellow;
}

.map {
  background-image: url('./images/canbusmap.png');
}